<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="hutko" frontName="hutko">
            <module name="Hutko_Hutko" before="Magento_Payment" />
        </route>
    </router>
</config>
